@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html {
    width: 100%;
    height: 100%;
}

body {
    
    background-color: rgba(235, 236, 231, 0.8);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

.title {
    font-weight: 800;
    color: transparent;
    font-size: 80px;
    background: url("Images/background.jpg") repeat;
    background-position: 40% 25%;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    line-height: 90px;
    letter-spacing: -8px;
    margin-bottom: 20px; /* Espacement sous le titre */
}

.subtitle {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    font-family: "Raleway", sans-serif;
}

/* Styles pour le menu de navigation */
nav {
    padding: 15px; /* Augmente l'espacement interne */
    position: relative; /* Pour pouvoir utiliser 'top' */
    top: 20px; /* Déplace le menu vers le bas */
}

.menu {
    list-style: none; /* Suppression des puces */
    margin: 0; /* Suppression des marges */
    padding: 0; /* Suppression des espacements */
    display: flex; /* Affichage en flex pour aligner horizontalement */
    margin-left: 50px; /* Léger décalage du menu */
}

.menu li {
    margin-right: 30px; /* Augmente l'espacement entre les éléments du menu */
}

.menu a {
    color: rgb(153, 0, 0); /* Couleur du texte */
    text-decoration: none; /* Suppression du soulignement */
    font-size: 25px; /* Taille de police */
    transition: color 0.3s ease; /* Transition pour une couleur fluide au survol */
}

.menu a:hover {
    text-decoration: underline; /* Soulignement au survol */
    color: #D71500; /* Changement de couleur au survol */
}

/* Styles pour la galerie */

.gallery-item {
    position: relative;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid transparent; /* Ajoutez une bordure transparente par défaut */
    border-radius: 8px; /* Arrondissez les bords si désiré */
}

.gallery-item img {
    width: 300px; /* Largeur fixe */
    height: 200px; /* Hauteur fixe */
    transition: transform 0.3s ease, border-color 0.3s ease; /* Ajoutez la transition pour la bordure */
}

.gallery-item:hover img {
    transform: scale(1.05); /* Légère augmentation de la taille */
    box-shadow: 0 0 10px red; /* Ombre rouge au survol */
    border-color: #f22009; /* Changez la couleur de la bordure au survol */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
}


.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(183, 0, 0, 0.7); /* Fond semi-transparent */
    color: white;
    opacity: 0; /* Commence invisible */
    transition: opacity 0.3s ease; /* Transition pour l'opacité */
}

.gallery-item:hover .caption {
    opacity: 1; /* Devient visible au survol */
}

.caption h3 {
    margin: 5px;
}

.caption p {
    margin: 5px;
    font-size: 14px;
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 70%; /* Augmenté pour décaler le conteneur vers le bas */
    text-align: center; /* Centrer le texte */
}

.spacer {
    margin-top: 100px; /* Augmentez cette valeur pour un espacement plus grand */
}